@import url("https://fonts.googleapis.com/css2?family=Switzer:wght@400;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Switzer", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #e5e7eb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

.main-container {
  margin: 0 auto;
  width: 90%;
}

.page-100 {
  min-height: calc(100vh - 10rem);
  padding: 5rem 0;
}

.frequent__questions {
  display: grid;
  grid-template-columns: 20% 20% 60%;
  grid-gap: 10px;
}